
body{
    margin:0;
    padding:0;
    background:#111;
    overflow:hidden;
    font-family:Arial;
}

canvas{
    display:block;
    background:url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=1200') center/cover;
}

#score{
    position:absolute;
    top:10px;
    left:10px;
    color:white;
    font-size:24px;
    background:rgba(0,0,0,0.5);
    padding:10px 20px;
    border-radius:10px;
}

#gameOver{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-size:40px;
    display:none;
}
